@use "colors";

@mixin flex-column-center {
	display: flex;
	align-items: center;
	flex-direction: column;
}
@mixin flex-center-row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
}
body {
	@include flex-column-center();
	background-color: var(--background);
	height: 100vh;
	width: 100%;
}
.container {
	@include flex-column-center();
	justify-content: center;
	width: 100%;
	height: 95%;

	.topCard {
		@include flex-center-row();
		justify-content: space-around;
		background-color: var(--topbackground);
		width: 100%;

		height: 40vh;
		border-bottom-left-radius: 50px;

		h1 {
			color: var(--text);
			font-weight: 700;
			p {
				color: var(--textBlue);
				font-weight: 400;
				font-size: 16px;
			}
		}
		.switchInput {
			@include flex-center-row();
			.darkMode {
				margin-right: 2rem;
				color: var(--textBlue);
			}
		}
		.switch {
			position: relative;
			display: inline-block;
			width: 70px;
			height: 34px;
			input {
				opacity: 0;
				width: 0;
				height: 0;
			}
		}
		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--toggle);
			border-radius: 34px;
			transition: 0.4s;
			&::before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				left: 35px;
				bottom: 4px;
				border-radius: 50%;
				background-color: var(--background);
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}
		}
		.topcardText {
			sub {
				color: var(--textBlue);
				font-weight: 700;
			}
		}
	}
	input {
		&:checked + .slider {
			background-image: var(--toggle);
		}
		&:focus + .slider {
			box-shadow: 0 0 1px var(--toggle);
		}
		&:checked + .slider::before {
			-webkit-transform: translateX(-27px);
			-ms-transform: translateX(-27px);
			transform: translateX(-27px);
		}
	}
}
.maincards {
	width: 70%;
	height: 100%;
	@include flex-column-center();
	.socialCards {
		@include flex-center-row();
		margin-top: -4rem;
		width: 100%;
		justify-content: space-evenly;
		.facebook {
			border-top: 5px solid var(--facebook);
			.fbcontent {
				@include flex-column-center();
				height: 100%;
				width: 100%;
				justify-content: space-evenly;
				.fbIcon {
					background-image: url("../images/icon-facebook.svg");
					display: flex;
					width: 20px;
					height: 20px;
					margin-left: -5rem;
					sub {
						color: var(--textBlue);
						font-weight: 700;
						margin-left: 2rem;
					}
				}
			}
		}
	}
	.twitter {
		border-top: 5px solid var(--twitter);
		.twittercontent {
			@include flex-column-center();
			height: 100%;
			width: 100%;
			justify-content: space-evenly;
			.twittIcon {
				background-image: url("../images/icon-twitter.svg");
				display: flex;
				width: 20px;
				height: 17px;
				margin-left: -5rem;
				sub {
					color: var(--textBlue);
					font-weight: 700;
					margin-left: 2rem;
				}
			}
		}
	}
	.instagram {
		.border {
			position: relative;
			width: 100%;
			height: 5px;
			bottom: 1px;
			background-image: var(--instagram);
			border-top-left-radius: 50px;
			border-top-right-radius: 50px;
		}
		.igcontent {
			@include flex-column-center();
			height: 100%;
			width: 100%;
			justify-content: space-evenly;
			.igIcon {
				background-image: url("../images/icon-instagram.svg");
				display: flex;
				width: 20px;
				height: 20px;
				margin-left: -5rem;
				sub {
					color: var(--textBlue);
					font-weight: 700;
					margin-left: 2rem;
				}
			}
		}
	}
	.youtube {
		border-top: 5px solid var(--youtube);
		.ytcontent {
			@include flex-column-center();
			height: 100%;
			width: 100%;
			justify-content: space-evenly;
			.ytIcon {
				background-image: url("../images/icon-youtube.svg");
				background-repeat: no-repeat;
				display: flex;
				height: 20px;
				margin-left: 0rem;
				sub {
					color: var(--textBlue);
					font-weight: 700;
					margin-left: 2rem;
				}
			}
		}
	}
}
.card {
	@include flex-column-center();
	justify-content: center;
	width: 30vh;
	height: 30vh;
	background-color: var(--cardbackground);
	border-radius: 10px;
	.followNum {
		h2 {
			color: var(--text);
			font-size: 60px;
			margin-left: 1rem;
			text-align: center;
		}
		p {
			margin-left: 1rem;
			letter-spacing: 7px;
			text-transform: uppercase;
			color: var(--textBlue);
		}
	}
	.arrow {
		color: var(--limegreen);
		font-weight: 700;
		.arrowUp {
			display: inline-block;
			background-image: url(../images/icon-up.svg);
			background-repeat: no-repeat;
			width: 12px;
			height: 8px;
		}
	}
	.arrowD {
		color: var(--brightred);
		font-weight: 700;
		.arrowDown {
			display: inline-block;
			background-image: url(../images/icon-down.svg);
			background-repeat: no-repeat;
			width: 12px;
			height: 8px;
		}
	}
}
.bottomCards {
	margin-top: 4rem;
	color: var(--text);
	.overviewcards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 19px;
		grid-row-gap: 22px;
		.cardbottom {
			width: 36vh;
			height: 15vh;
			border-radius: 10px;
			@include flex-column-center();
			justify-content: space-evenly;
			background-color: var(--cardbackground);
		}
		.fbIcon {
			background-image: url("../images/icon-facebook.svg");
			display: flex;
			width: 20px;
			height: 20px;
			margin-left: -5rem;
		}
		.igIcon {
			background-image: url("../images/icon-instagram.svg");
			display: flex;
			width: 20px;
			height: 20px;
			margin-left: -5rem;
		}
		.twittIcon {
			background-image: url("../images/icon-twitter.svg");
			display: flex;
			width: 20px;
			height: 16px;
			margin-left: -5rem;
		}
		.ytIcon {
			background-image: url("../images/icon-youtube.svg");
			display: flex;
			width: 20px;
			height: 20px;
			margin-left: -5rem;
		}
		.topicons {
			@include flex-center-row();
			justify-content: space-around;
			width: 100%;
			p {
				color: var(--textBlue);
				font-weight: 700;
			}
		}
	}
	.bottomnums {
		color: var(--text);
		font-weight: 700;
		@include flex-center-row();
		width: 100%;
		justify-content: space-evenly;
		p {
			font-size: 25px;
		}
		.arrowUp {
			background-image: url("../images/icon-up.svg");
			background-repeat: no-repeat;
			background-position: 19px 7px;
			color: var(--limegreen);
			font-weight: 400;
			padding-left: 2rem;
			font-size: 10px;
		}
		.arrowDown {
			background-image: url("../images/icon-down.svg");
			background-repeat: no-repeat;
			background-position: 19px 7px;
			color: var(--brightred);
			font-weight: 400;
			padding-left: 2rem;
			font-size: 10px;
		}
	}
}
footer {
	.attribution {
		font-weight: 700;
		color: var(--text);
		a {
			color: var(--youtube);
		}
	}
}
